<section class="property-binding">
  <!--<article>
    <h3>Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}"> INTERPOLAÇÃO É UMA FORMA DE PROPERTY BINDING 
    <img [src]="urlImagem">     PROPERTY BINDING 
  </article>-->
  
  <!--<article>
    <h3>Class e Style binding</h3>
    <div>
      Selecione uma classe:
      <select #ddl (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-danger">Erro</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-info">Info</option>
      </select>
      <br><br>
      <!-- CLASS BINDING
      <div class="alert {{ ddl.value }}">
        Texto colorido conforme valor do ddl
      </div>

      <div class="alert" role="alert" 
        [class.alert-success]="ddl.value == 'alert-success'">
        Sucesso</div>
      <div class="alert" role="alert" 
        [class.alert-danger]="ddl.value == 'alert-danger'">
        Erro</div>
      <div class="alert" role="alert" 
        [class.alert-warning]="ddl.value == 'alert-warning'">
        Alerta</div>
      <div class="alert" role="alert" 
        [class.alert-info]="ddl.value == 'alert-info'">
        Info</div>
        <!-- STYLE BINDING
        <div class="alert alert-danger" role="alert" 
        [style.display]="ddl.value == 'alert-danger' ? 'block' : 'none'">
        Esse texto só aparece com erro!</div>
    </div>
  </article>-->

  <article>
    <h3>Event binding</h3>
    <div>
      <button 
        (click)="botaoClicado()" 
        class="btn btn-primary">Click</button>

        <input type="text" 
          (keyup)="onKeyUp($event)" 
          (keyup.enter)="salvarValor($event.target.value)"/>

        <p>Valor atual: {{ valorAtual }}</p>
        <p>Valor salvo: {{ valorSalvo }}</p>
    </div>
  </article>


</section>